@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: #010101;    
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #6bacb2;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #6bacb2; 
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #6bacb2;
    text-align: center;
    font-size: 120%;
}

/* nav */

#logo {
    float: left;
    font-size: 300%;
}

#skull {
    float: left;
    height: 70px;
}

#menu > h2 {
    font-size: 200%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type:none;
    margin-right: 30px;
}

#menu h2 {
    text-decoration: none;
    color: #6bacb2;
}

#menu h2:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
    color: #6bacb2;
}

/* hero image */

#hero-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#cover-text h2 {
    color: #010101;
}

#hero-image {
    background: url(../images/hero-image.jpg) no-repeat center left;
    width: 100%;
    height: 100vh;
    background-size: cover;

    /* animates zoom out effect on loading page */
    animation-name: hero-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* created zoom out for hero image */

@keyframes hero-zoom-out {
    from{
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#cover-text {
    font-size: 200%;
    width: min-content;
    background-color: rgb(107, 172, 178, .5);
    position: absolute;
    top: 25%;
    left: 25%;
}

/* about us content */

#welcome {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 600%;
    letter-spacing: 7px;
    resize: vertical;
    overflow: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.about-us {
    padding-top: 30px;
    float: left;
    text-align: center;
}

.about-us h2 {
    font-size: 60%;
    text-align: center;
    letter-spacing: 1px;
}

.about-us p {
    font-size: 30%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

/* events */

#events {
    background-image: url(../images/events-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#events div {
    background-color: rgba(0, 0, 0, .8);
    width: 20%;
    float: left;
    padding: 0 0 10px;
    text-align: center;
    border: 2px solid #010101;
    box-sizing: border-box;
}

#events h2 {
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
}

/* footer */

footer {
    height: 150px;
}

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 300%;
    padding: 5%;
    color: #6bacb2;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%
}

/* visit us */

#visit-us-hero-image {
    background: url(../images/visit-us-hero-image.jpg) no-repeat center left;
    width: 100%;
    height: 100vh;
    background-size: cover;

    /* animates zoom out effect on loading page */
    animation-name: hero-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#visit-us-hero-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#visit-us-cover-text {
    font-size: 200%;
    width: min-content;
    background-color: rgb(107, 172, 178, .5);
    position: absolute;
    top: 40%;
    left: 25%;
}

#visit-us-cover-text h2 {
    color: #010101;

}

#address {
    padding-bottom: 30px;
    font-size: 600%;
}

#map {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#advice {
    font-size: 250%;
    text-align: center;
    width: 80%;
    display: inline-block;
    padding-top: 30px;
}

.opening {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 600%;
    letter-spacing: 7px;
    resize: vertical;
    overflow: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.opening-times {
    background-image: url(../images/opening-times-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

.opening-times div {
    background-color: rgba(0, 0, 0, .8);
    width: 14.28vw;
    float: left;
    padding: 0 0 10px;
    text-align: center;
    border: 2px solid #010101;
    box-sizing: border-box;
    display: inline-block;
}

/* contact us */

#contact-us-hero-outer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#cover-text h2 {
    color: #010101;
}

#contact-us-hero-image {
    background: url(../images/contact-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    /* animates zoom out effect on loading page */
    animation-name: hero-zoom-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* created zoom out for hero image */

@keyframes hero-zoom-out {
    from{
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

#contact-us-cover-text {
    font-size: 200%;
    width: min-content;
    background-color: rgb(107, 172, 178, .5);
    position: absolute;
    top: 25%;
    left: 25%;
}

#contact-us-cover-text h2 {
    color: #010101;
}

#questions {
    text-align: -webkit-center;
    padding-top: 30px;
}

#form { 
    width: fit-content;
    display: block;
    text-align: center;
    background-position: center;
}

.feedback-input {
    font-family: 'Space Grotesk';
    color:#6bacb2;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #010101;
    border:2px solid #6bacb2;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #010101; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    width: 100%;
    background:#010101;
    border-radius:5px;
    border:2px solid #6bacb2;
    cursor:pointer;
    color:#6bacb2;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

[type="submit"]:hover { background:#010101; }

/* media queries  */

/* for larger to medium screen sizes from 1404px wide and down */

@media screen and (max-width: 1404px) {
    #events > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .opening-times > div {
        width: 100%;
        clear: both;
        height: 130px;
        padding: 0;
    }
}

@media screen and (max-width: 824px) {
    #photos {
        column-count: 3;
    }
}